* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.header .branding {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

.text-align-center {
  text-align: center;
}

body {
  font-size: 16px;
  line-height: 1.6em;
  font-family: Arial;
}

p {
  color: midnightblue;
}

h1, h2, h3, h4, h5, h6 {
  color: blue;
  font-family: Helvetica;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

.dark p {
  color: #cccccc;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: #cccccc;
}

a,
.link {
  color: dodgerblue;
  text-decoration: none;
}

a:hover,
.link:hover {
  text-decoration: underline;
  color: #0077ea;
}

a:active,
.link:active {
  text-decoration: underline;
  color: #005db7;
}

.dark a,
.dark .link {
  color: white;
  text-decoration: none;
}

.dark a:hover,
.dark .link:hover {
  text-decoration: underline;
  color: #e6e6e6;
}

.dark a:active,
.dark .link:active {
  text-decoration: underline;
  color: #cccccc;
}

.section {
  padding: 30px;
}

.section.dark {
  background: darkgray;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.block {
  height: 100px;
  font-family: inherit;
}

.primary-block-0 {
  background: green;
}

.primary-block-0 {
  background: green;
}

.primary-block-1 {
  background: #00a900;
}

.primary-block-2 {
  background: #00d200;
}

.primary-block-3 {
  background: #00fa00;
}

.primary-block-4 {
  background: #24ff24;
}

.primary-block-5 {
  background: #4dff4d;
}

.primary-block-6 {
  background: #76ff76;
}

.primary-block-7 {
  background: #9fff9f;
}

.primary-block-8 {
  background: #c7ffc7;
}

.primary-block-9 {
  background: honeydew;
}

.header {
  background: sandybrown;
}

.header .container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.header .branding {
  margin-right: 20px;
  font-family: Helvetica;
  font-size: 30px;
  font-weight: 900;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin: 10px;
}
