
//colors
$header-color: blue;
$paragraph-color: midnightblue;
$primary-color: green;
$panel-color: sandybrown;
$link-color: dodgerblue;

//Typography
$body-font-size: 16px;
$h1-font-size: 28px;
$body-line-height: 1.6em;
$paragraph-font: Arial;
$header-font: Helvetica;

//Sizes
$section-padding: 30px;
$container-max-width: 1140px;