.block{
  height: 100px;
  font-family: inherit;
}

.primary-block-0 {
background: $primary-color;
}

@for $i from 0 through 9 {
.primary-block-#{$i} {

  background: lighten($primary-color, $i * 8%);
}
}