body {
  font-size: $body-font-size;
  line-height: $body-line-height;
  font-family: $paragraph-font;
}

p {
  color: $paragraph-color;

}

h1, h2, h3, h4, h5, h6 {
  color: $header-color;
  font-family: $header-font;
}

@for $i from 0 through 5 {
  h#{$i+1}{
    font-size: $h1-font-size - (2px * $i);
  }
}


// Modifications

.dark {

  p {
    color: darken(white, 20%);
  }

  h1, h2, h3, h4, h5, h6 {
    color: darken(white, 20%);
  }
}